@using FINALNIPROJEKTBOOP.Models;


@{
    ViewData["Title"] = "AddMovie";
   
}



<form method="post">
    <div>
        <label for="nameOfMovie">Name of Movie:</label>
        <input type="text" id="nameOfMovie" name="NameOfMovie" />
    </div>
    <div>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="Genre" />
    </div>
    <div>
        <label for="releaseDate">Release Date:</label>
        <input type="number" id="releaseDate" name="ReleaseDate" />
    </div>
    <button type="submit">Add Movie</button>
</form>
