@using FINALNIPROJEKTBOOP.Models

@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<u1>
    <table>
    @foreach (var movie in ViewBag.movies)
    {
        <tr>
            <td>@movie.NameOfMovie</td>
            <td>@movie.Genre</td>
            <td>@movie.ReleaseDate</td>
        </tr>
    }
    </table>
</u1>
