html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.dropdown a {
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    display: block;
    color: #000000;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
}


.dropdown-content a:hover {
    background-color: #ddd;
}